<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      <button class="btn btn-success"> ADD HERO </button>
      <button class="btn btn-danger float-right"> DELETE HERO </button>
    </div>
    <div class="p-2 card-body">
      <a class="btn btn-primary" *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
        <span class="badge badge-light float-left"> {{ hero.id }}</span>
        {{ hero.name | titlecase }}
      </a>
    </div>
  </div>
</div>

<add-hero></add-hero>
<app-hero-detail></app-hero-detail>