<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      <button class="btn btn-success"> ADD HERO </button>
    </div>
    <div class="p-2 card-body">
      <div *ngFor="let hero of heroes">
        <a class="btn btn-primary float-left" routerLink="/detail/{{hero.id}}">
          <span class="badge badge-light float-left"> {{ hero.id }}</span>
          {{ hero.name | titlecase }}
        </a>
        <a id="delete" class="btn btn-danger float-right"> DELETE HERO </a>
      </div>
    </div>
  </div>
</div>

<add-hero></add-hero>